networks:
  traefik:
    name: traefik_network
    driver: bridge
services:
  traefik:
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./configs/traefik.yml:/etc/traefik/traefik.yml
      - ./configs/dynamic:/etc/traefik/dynamic
      - ./certificates/acme.json:/etc/traefik/acme/acme.json
    networks:
      - traefik
  whoami:
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.bornhub.pl`) || Host(`www.whoami.bornhub.pl`)
      - traefik.http.routers.whoami.entrypoints=web